{% extends "base.html" %}
{% block headtitle %}Hypertexthero: Archive{% endblock headtitle %}
{% block keywords %}Web, Design, Simplicity{% endblock %}
{% block bodyid %}archive{% endblock bodyid %}

{% block header %}
  {% include "hth/nav.html" %}
  <p class="breadcrumbs"><a href="/" title="Hypertexthero homepage.">Hypertexthero</a> / Logbook Archive</p>
{% endblock header %}

{% block content %}

  {% include "hth/search_form.html" %}    
  
  <h1 style="margin:1em 0 0;" class="normal">Logbook Archive</h1>
	
	{% for entry in object_list %}	
        {% ifchanged %}
            <h2 class="dateline datelinearchive">{{ entry.pub_date|date:"F Y" }}</h2>
        {% endifchanged %}    
        <p>
            <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a> <small class="small quiet extrapad titlecase">{{ entry.pub_date|date:"d b Y" }}</small>
        </p>
	{% endfor %}
	
{% endblock %}
