{% extends "base.html" %}
{% block headtitle %}Hypertexthero: Archive{% endblock headtitle %}
{% block bodyid %}archive{% endblock bodyid %}

{% block header %}
    <p><a href="/" title="Hypertexthero homepage.">Hypertexthero</a> / <a href="/logbook/" title="logbook front page.">Logbook</a> / Archive</p>
{% endblock header %}

{% block content %}

<form id="search" action="/search/" method="get">
<label for="q" style="display:none;">Search:</label>
<input name="q" value="" size="22" type="text">
<input value="Search" class="button" type="submit">
</form>
    
    <h1>Previously, on Hypertexthero</h1>
	
	{% for entry in object_list %}	
        {% ifchanged %}
            <h2 class="dateline datelinearchive">{{ entry.pub_date|date:"F Y" }}</h2>
        {% endifchanged %}    
        <p>
            <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a> <small class="small quiet extrapad titlecase">{{ entry.pub_date|date:"d b Y" }}</small>
        </p>
	{% endfor %}
	
{% endblock %}
