{% extends "base.html" %}
{# http://stackoverflow.com/a/3410813 #}
{% block tags %}{% for tag in object.tags.all %}{{ tag.name }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}{% endblock tags %}

{% block headtitle %}
    {{ object.title }} - {% if object.kind == "L" %}Hypertexthero Linked List{% else %} {# otherwise it is an original article #}Hypertexthero{% endif %} 
{% endblock headtitle %}

{% comment %}
{% block description %}{{ object.title }} - {% if object.kind == "L" %}Hypertexthero Linked List{% else %} {# otherwise it is an original article #}Hypertexthero{% endif %}{% endblock %} 
{% endcomment %}

{% block bodyid %}logbook{% endblock bodyid %}
{% block bodyclass %}detail{% endblock bodyclass %}

{% block header %}
  {% include "hth/nav.html" %}
    <p class="breadcrumbs"><a href="/" title="Hypertexthero homepage.">Hypertexthero</a> / <a href="/logbook/">Logbook</a> /</p>
{% endblock header %}

{% block content %}
{% if user.is_staff %} 
<div class="pull-right">
    <a class="edit small monospace" href="/admin/hth/entry/{{ entry.id }}">Edit</a>
</div>
{% endif %}

{% if object.kind == "L" %} {# if a value for linkurl is present in the head of files this is a link to another site #}
    <dl>
      <dt><a href="{{ object.url }}">{{ object.title }}</a> &nbsp;<a class="plink" title="Permanent link to this entry." href="{{ object.get_linked_list_url }}"># {{ object.pub_date|date:"d b Y" }}</a></dt>
      <dd>
    	  {{ object.body_html|safe }}
      </dd>
    </dl>

  <p id="about">
    A <a href="/" title="Home.">Hypertexthero</a></b> link by <a href="http://simongriffee.com" title="See my photography website.">Simon Griffee</a> published on <a title="Permanent link to this entry." href="{{ object.get_linked_list_url }}">{{ object.pub_date|date:"d F Y" }}</a> under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons License</a>. See more links in the <a href="/linked/" title="List of links to other places on the internet that Hypertexthero finds interesting.">linked list</a>. Original articles are in the <a href="/archive/" title="Archive of original logbook entries.">archive</a>.
  </p>

    {% else %} {# otherwise it is an original article #}

		<h1><a href="{{ object.get_absolute_url }}" rel="permalink" title="Permanent link to this entry.">{{ object.title }}</a></h1>
		<p class="quiet"><time pubdate="pubdate">{{ object.pub_date|date:"l, F j Y" }}</time></p>
		{{ object.body_html|safe }}

  <p id="about">
    A <a href="/" title="Home.">Hypertexthero</a></b> article by <a href="http://simongriffee.com" title="See my photography website.">Simon Griffee</a> published on <a title="Permanent link to this entry." href="{{ object.get_absolute_url }}"><time pubdate="pubdate">{{ object.pub_date|date:"d F Y" }}</time></a> under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons License</a>. See more articles in the <a href="/archive/" title="Archive of original logbook entries.">archive</a>. Links are in the <a href="/linked/" title="List of links to other places on the internet that Hypertexthero finds interesting.">linked list</a>.
  </p>

{% endif %} {# end if object.kind == "L" #}


{# =footer #}

<p class="paging">
  {# https://docs.djangoproject.com/en/dev/ref/models/instances/?from=olddocs#django.db.models.Model.get_next_by_FOO #}
  {% if object.get_previous_by_pub_date %}
    <a rel="prev" href="{{ object.get_previous_by_pub_date.get_absolute_url }}"><i>Previous entry:</i> <b>{{ object.get_previous_by_pub_date }}</b></a>
  {% endif %}
    <br>
  {% if object.get_next_by_pub_date %}
    <a rel="next" href="{{ object.get_next_by_pub_date.get_absolute_url }}"><i>Next entry:</i> <b>{{ object.get_next_by_pub_date }}</b></a>
  {% endif %}
</p>
{% endblock %}

{% block footer %}
    {% include "hth/search_form.html" %}
{% endblock footer %}