{% extends "base.html" %}
{# http://stackoverflow.com/a/3410813 #}
{% block tags %}{% for tag in object.tags.all %}{{ tag.name }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}{% endblock tags %}
{% block title %}{{ object.title|escape }} | Weblog{% endblock %}
{% block headtitle %}
    {% if object.kind == "L" %}
        Hypertexthero Linked List: 
    {% else %} {# otherwise it is an original article #}
        Hypertexthero: 
    {% endif %}   
        {{ object.title }}
{% endblock headtitle %}
{% block bodyid %}logbook{% endblock bodyid %}
{% block bodyclass %}detail{% endblock bodyclass %}

{% block header %}
    <p id="homelink"><a href="/" title="Hypertexthero homepage and portfolio.">Home</a></p>
    <p class="breadcrumbs"><a href="/" title="Hypertexthero homepage.">Hypertexthero</a> / <a href="/logbook/" title="logbook front page.">Logbook</a> /</p>
{% endblock header %}

{% block content %}

{% if object.kind == "L" %} {# if a value for linkurl is present in the head of files this is a link to another site #}
    <dl>
        <dt><a href="{{ object.url }}">{{ object.title }}</a> &nbsp;<a class="plink" title="Permanent link to {{ object.title }}" href="{{ object.get_linked_list_url }}"># {{ object.pub_date|date:"d b Y" }}</a></dt>
        <dd>
    	    {{ object.body_html|safe }}
        </dd>
    </dl>

    {% else %} {# otherwise it is an original article #}

		<h1><a href="{{ object.get_absolute_url }}" rel="permalink" title="Permanent link to {{ object.title }}.">{{ object.title }}</a></h1>
		<p class="quiet"><time pubdate="pubdate">{{ object.pub_date|date:"l, F j Y" }}</time></p>
		{{ object.body_html|safe }}


<p class="paging small">
        {% if object.get_prev_article %}
            <a rel="prev" href="{{ object.get_prev_article.get_absolute_url }}"><i>Previous:</i> <b>{{ object.get_prev_article }}</b></a>
        {% endif %}
        <br>
        {% if object.get_next_article %}
            <a rel="next" href="{{ object.get_next_article.get_absolute_url }}"><i>Next:</i> <b>{{ object.get_next_article }}</b></a>
        {% endif %}
</p>

{% endif %} {# end if object.kind == "L" #}

{% if user.is_staff %} 
<div class="pull-right">
    <a class="edit small monospace" href="/admin/hth/entry/{{ entry.id }}">Edit</a>
</div>
{% endif %}

{% endblock %}