<div id="intro">
  <p class="aeroplane">
    <a href="/" title="Home.">Home</a>
  </p>
  <p>
    <b><a href="/" title="Home.">Hypertexthero</a></b> likes to align things so they look and <a href="/work/" title="Work examples.">work</a> well enough to be useful.</p> 
  <p>
    <a href="/about/" title="About.">He</a> also <a href="/archive/" title="Archive of original logbook entries.">writes</a>, <a href="/linked/" title="List of links to other places on the internet that Hypertexthero finds interesting.">links</a> and <a href="http://simongriffee.com" title="Photography.">photographs</a>.
  </p>
</div>    