  <div id="intro">
    <p>
      <b>Hypertexthero</b> likes to align things so they look and work well enough to be useful both inside and outside web browsers.</p> 
    <p>
      When not writing English he writes HTML, CSS, Python and Django code as well as UNIX and Git commands to connect the above to the internet.
    </p>
    
    <ul class="unstyled">
      <li><a href="/work/" title="Examples of past work.">Work</a></li>
      <li><a href="/contact/" title="Call Hypertexthero.">Contact</a></li>
      <li><a href="/archive/" title="Archive of original logbook entries.">Archive</a></li>
      <li><a href="/linked/" title="The Hypertexthero Linked List is a list of links to other places on the internet that Hypertexthero finds interesting.">Linked List</a></li>
      <li><a href="/logbook/atom/" title="Subscribe to Hypertexthero's logbook syndication feed.">XMLFeed</a></li>
      <li><a href="javascript:for(i=0;i<document.styleSheets.length;i++)%7Bvoid(document.styleSheets.item(i).disabled=true);%7Del=document.getElementsByTagName('*');for(i=0;i<el.length;i++)%7Bvoid(el%5Bi%5D.style.cssText='');%7D" title="Disable CSS.">Remove Styles</a></li>
    </ul>
  </div>    