{% extends "base.html" %}
{% block headtitle %}Hypertexthero Linked List: Archive for {{ month|date:"F Y" }}{% endblock headtitle %}
{% block keywords %}Web, Design, Simplicity{% endblock %}

{% block bodyid %}archive{% endblock bodyid %}

{% block header %}
    <p class="breadcrumbs"><a href="/" title="Hypertexthero homepage.">Hypertexthero</a> / <a href="/logbook/">Logbook</a> / <a href="/linked/" title="Linked List.">Linked List</a> / {{ month|date:"F Y" }}</p>
    {% include "hth/nav.html" %}
{% endblock header %}

{% block content %}
        	<h1>Linked List: {{ month|date:"F Y" }}</h1>
				  <p><small><a href="/linked/#about">About</a></small> · <small><a href="/linked/#linkedarchive">Archive</a></small> · <small><a href="/logbook/atom/" title="Atom XML Feed" href="/atom/">XML feed</a></small></p>
					
    {% for object in object_list %}    
            {% ifchanged %}
                <h2 class="dateline">{{ object.pub_date|date:"l, d F Y" }}</h2>
            {% endifchanged %}    
            
            <dl>
                <dt><a href="{{ object.url }}">{{ object.title }}</a> &nbsp;<a class="plink" title="Permanent link to {{ object.title }}" href="{{ object.get_linked_list_url }}">#</a></dt>
                <dd>
            	    {{ object.body_html|safe }}
                </dd>
            </dl>
    {% empty %}
    <p>It does not look like anything was published during this period.</p>
    {% endfor %}
	
{% endblock %}
