{% extends "base.html" %}
{% block headtitle %}Hypertexthero: Linked List{% endblock headtitle %}
{% block keywords %}Web, Design, Simplicity{% endblock %}
{% block bodyid %}archive{% endblock %}

{% block header %}
  {% include "hth/nav.html" %}
  <p class="breadcrumbs"><a href="/" title="Hypertexthero homepage.">Hypertexthero</a> / <a href="/logbook/">Logbook</a> / Linked List</p>
{% endblock header %}

{% block content %}

  <h1 style="margin:2.75em 0 0;">The Hypertexthero Linked List</h1>
  <p><small><a href="#about">About</a></small> · <small><a href="#linkedarchive">Archive</a></small> · <small><a href="/logbook/rss/" title="RSS XML Feed">XML feed</a></small></p>
	  {% include "hth/search_form.html" %}     
    {% load hth_tags %}
    {% latest_linked_list_entries %}

<h2 id="about">About the Linked List <small><a href="#top" class="small normal">&uarr; back to top</a></small></h2>

<p>The Hypertexthero Linked List is a list of links to other places on the internet that Hypertexthero finds interesting.</p>

<h2 id="linkedarchive">Linked List Archive <small><a href="#top" class="small normal">&uarr; back to top</a></small></h2>

{% load hth_tags %}

{# https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs#regroup #}
{% regroup latest by pub_date|date:"Y" as year_list %}
    <ul>
{% for year in year_list %}
    {% regroup year.list by pub_date|date:"m" as month_list %}

    {% for month in month_list %}
        <li><a href="/linked/{{year.grouper}}/{{month.grouper}}/">{{ month.grouper|month_number_to_name }} {{ year.grouper }}</a></li>
    {% endfor %}
{% endfor %}
    </ul>

{% endblock %} {# / block content #}
