{% extends "base_weblog.html" %}

{% block bodyid %}logbook{% endblock %}

{% block header %}
<p><strong><a href="/" title="Hypertexthero homepage.">Hypertexthero</a></strong>  flies about the internet recording interesting experiences in this <strong><a href="/logbook/" title="logbook front page.">Logbook</a></strong>. Browse past logs in the <strong><a href="/archive/" title="Logs of past flights.">Archive</a></strong>. Track current flying on <strong><a href="http://twitter.com/hypertexthero" title="Hypertexthero on Twitter.">Twitter</a></strong>.</p>
{% endblock header %}

{% block content %}
{% if latest %} {# the 'latest' variable of the template context is assigned automatically by the django.views.generic.date_based.archive_index generic view - https://docs.djangoproject.com/en/dev/ref/generic-views/#django-views-generic-date-based-archive-index #}
{% for object in latest %}
{# https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs#ifchanged #}
{% ifchanged %}
    {# <hr /> #}
    {# https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs#date #}
    <h2 class="dateline">{{ object.pub_date|date:"l, d F Y" }}</h2>
{% endifchanged %}

{% if object.kind == "A" %}
<pre class="articlebreak">
     __|__
-------O-------
    o´   `o
</pre>

<div class="article">

    {% if user.is_staff %} 
    {# <span class="smaller normal quiet"> last edited {{ object.mod_date|timesince }} ago by {{ user.first_name }} {{ user.last_name }}</span> #}
        <div class="pull-right">
            <span class="small"> 
                <a class="edit monospace" href="/admin/hth/entry/{{ object.id }}">edit</a>
            </span>
        </div>
    {% endif %}

    <h1><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h1>
    <h2 class="dateline">{{ object.pub_date|date:"l, d F Y" }}</h2>
    {{ object.body_html|safe }}            

</div>

<pre class="articlebreak">
     __|__
-------O-------
    o´   `o
</pre>

{% else %} {# object.kind == "L" #}

<dl>
    <dt>
        <a href="{{ object.url }}">{{ object.title }}</a>
        <a class="plink" href="{{ object.get_linked_list_url }}" rel="permalink" title="Permanent link to {{ object.title }}.">#</a> 
        {% if user.is_staff %} 
        {# <span class="smaller normal quiet"> last edited {{ object.mod_date|timesince }} ago by {{ user.first_name }} {{ user.last_name }}</span> #}
            <div class="pull-right">
                <span class="small"> 
                    <a class="edit normal monospace" href="/admin/hth/entry/{{ object.id }}">edit</a>
                </span>
            </div>
        {% endif %}
    </dt>
    <dd>
        {{ object.body_html|safe }}
    </dd>
</dl>
{% endif %} {# / if.object.kind == "A" #}

{% endfor %} {# / for note in latest #}

{% else %}
    No entries.
{% endif %} {# / if latest #}
    
{% endblock %} {# / block content #}

{# {% block sidebar %} #}
{# {% endblock %} #}