<div class="nav">
  <a id="loglogo" href="/" title="Hypertexthero homepage."><img src="/static/img/logo.png"></a>
  <ul>
      <li><a class="nav-home" href="/" title="Hypertexthero homepage.">Hypertexthero</a></li> 
      <li><a class="nav-logbook" href="/logbook/" title="Hypertexthero's blog on web, design and simplicity, also known as the Logbook.">Blog</a>, <a class="nav-archive" href="/archive/" title="Archive of original blog entries.">Archive</a>{# , <a class="nav-tags" href="/tags/" title="Keywords.">Tags</a> #}</li>
      <li><a class="nav-work" href="/work/" title="Work examples.">Projects</a></li> 
      <li><a class="nav-contact" href="/contact/" title="Call Hypertexthero.">Contact</a></li>
  </ul>
</div>