<div class="nav">
<a id="loglogo" href="/" title="Hypertexthero homepage."><img src="/static/img/macchi_home.gif"></a>
<ul>
    <li><a class="nav-logbook" href="/" title="Hypertexthero homepage.">Hypertexthero <small>(blog)</small></a></li> 
    <li><a class="nav-archive" href="/archive/" title="Archive of original logbook entries.">Archive</a>, <a class="nav-tags" href="/tags/" title="Keywords.">Tags</a></li>
    <li><a class="nav-work" href="/work/" title="Work examples.">Projects</a></li> 
    <li><a class="nav-contact" href="/contact/" title="Call Hypertexthero.">Contact</a></li>
    <li><a class="nav-about" href="/about/" title="About.">About</a></li>
</ul>
</div>