{% extends "base_weblog.html" %}
{% block headtitle %}Search results for: {{ query }}  - {% endblock %}
{# {% block bodyid %}home{% endblock %} #}

{% block header %}
    <p><a href="/" title="Hypertexthero homepage.">Hypertexthero</a> / <a href="/logbook/" title="logbook front page.">Logbook</a> /</p>
{% endblock header %}

{% block content %}
{% include "hth/search_form.html" %}
{% if title_results or results %} 
    <p>Search results for &ldquo;<strong>{{ query }}</strong>&rdquo;:</p> 
    {% if title_results %}
        <ul>
        {% for entry in title_results %} 
            <li><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></li>
        {% endfor %} 
        </ul>
    {% endif %} 
    {% if results %}
        <ul>
        {% for entry in results %} 
            <li><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></li>
        {% endfor %} 
        </ul>
    {% endif %} 
{% endif %} 

{% if query and not title_results and not results %}
    <p class="warning">No results found.</p> 
    {% else %}
    {# <p>Type a search query into the box below, and press "Submit" to search.</p> #}    
{% endif %}

{% endblock %}

{% block footer %}
{% include "hth/footer.html" %}
{% endblock footer %}