{# <p><strong><a href="/" title="Hypertexthero homepage.">Hypertexthero</a></strong>  flies about the internet recording interesting experiences in this <strong><a href="/logbook/" title="logbook front page.">Logbook</a></strong>. Browse past logs in the <strong><a href="/archive/" title="Logs of past flights.">Archive</a></strong>. Track current flying on <strong><a href="http://twitter.com/hypertexthero" title="Hypertexthero on Twitter.">Twitter</a></strong>.</p> #}

{# <p>By <a href="/about/" title="About Hypertexthero.">Simon Griffee</a></p> #}
{#  #}
{# <ul class="unstyled"> #}
{#     <li><a href="/archive/" title="Archive of original logbook entries.">Archive</a></li> #}
{#     <li><a href="/linked/" title="Linked List.">Linked List</a></li> #}
{#     <li><a href="/contact/" title="Call Hypertexthero.">Contact</a></li> #}
{# </ul> #}