# Requirements to deploy this code. To install all these run the following from terminal: 
# pip install -r requirements.txt

Django >= 1.5 # http://packages.python.org/Markdown/
markdown # https://github.com/mintchaos/typogrify
typogrify
Pygments

# https://github.com/hypertexthero/staticgenerator/tree/master/staticgenerator
# https://github.com/hypertexthero/django-contact-form/tree/master/staticgenerator

django-taggit
https://bitbucket.org/fabian/django-taggit-autosuggest/

# South >= 0.7, < 0.8

# Portfolio app ======
# PIL
# django-admin-sortable
# sorl-thumbnail
# #pip install -e git://github.com/dokterbob/django-portfolio.git#egg=django-portfolio
# git://github.com/dokterbob/django-portfolio.git#egg=django-portfolio
