/*
Hypertexthero.css master stylesheet by Simon Griffee
Last update: 2014-07-23
*/
* {margin:0; padding:0;}

/* =layout =links =general ---------------------- */

/* http://stackoverflow.com/questions/8966740/what-is-the-correct-way-of-hosting-google-web-fonts-on-my-own-server */
body {font-family: "Gentium Basic", "times new roman", times, serif; font-size:100%; color:#2e2a1f; background:#fff url(/static/img/bg-grey.gif) repeat 0 0;}

a:link, a:visited {color:#0074BD; text-decoration:none; border-bottom:1px solid #E6E3DB; padding-bottom:0;}
a:visited {color:#1D6EB1;}
a:hover, a:active {text-decoration:none; color:#930; outline:none; border:none;}

:target {outline:3px #fcc solid; padding:2px 5px;}

#wrapper {text-align:center;}
#page {width:970px; text-align:left; margin:0 auto; background:url(/static/img/bg_technical.gif) no-repeat top center; background-position:5px 0;}
#page {width:970px; text-align:left; margin:0 auto;}
body#error #page {padding-bottom:100px; background:url(/static/img/balloon_error.gif) no-repeat top left; background-position:352px -50px;}

#header {margin:0 38px 12px; height:137px; position:relative; background:url(/static/img/macchi_home.gif) no-repeat top right;}
#header blockquote {position:absolute; bottom:0; left:0; width:45%; font-size:14px; line-height:1.4em;}
blockquote {line-height:1.4em;}
#header p.breadcrumbs {font-size:14px; color:#ccc; position:absolute; bottom:0;}
#header p.breadcrumbs a {color:#999;}

#intro {float:right; width:200px; padding-top:14px; padding-right:30px;}
p.aeroplane a {background:url(/static/img/AeromarineAirwaysHighballExpresstoBimini.gif) no-repeat; background-position:left 0px; text-indent:-2000em; display:block; width:272px; height:125px; border:0; margin-bottom:2.5em; margin-left:-15px;}

h1#logo a {position:absolute; right:0; bottom:0; width:50%; height:53px; border:none; color:#2e2a1f;}
h1#logo a b {border-bottom:2px dotted #ccc; padding-bottom:0; color:#0074BD;}
h1#logo a:hover b, h1#logo a:active b a:active {border:none; color:#930;}

#content {padding-left:43px;}
body#logbook #content, body#about #content, body#error #content, body#archive #content {float:left;}
/*body#logbook #content {margin-top:-55px;}*/
#sidebar {float:right; width:296px; font-size:14px;}
#picture {float:left; margin:0 0 1em 0;}
#picture p {max-width:400px;}
#picture img {border:1px solid #eee;}
#content h1, #content h2, #content h3, #content p, #content li, #content dd, #content dt, div.article {max-width:30em;}

/* =home ---------------------- */

body#home #header {margin-bottom:12px;}
div.column {width:155px; float:left; margin:0 26px 0 0;}

div.column h2 {text-align:center; background: url(/static/img/parachute.gif) no-repeat 35px 0; margin:20px auto 15px; width: 155px; padding:40px 0 0 10px;}

h2#etcetera {background-position: 35px 0;} 
h2#identity {background-position: 35px 0;} 
h2#print {background-position: 32px 0;} 
h2#websites {background-position: 35px 0;} 
h2#writing {background-position: 30px 0; font-style:italic;} 
h2#writing a {margin:-50px auto 20px; border:0; padding:50px 0 0; display:block;}
h2#writing a:hover {text-decoration:underline; background:none;}

#latest {margin:-15px 0 0;}
#latest ul li {padding:0.5em 0; font-size:14px;}
div.column ul.thumbs {list-style:none;}
div.column ul.thumbs li {margin-bottom:26px; width:155px; border:solid 1px #eee; border-radius:2px;}
li.nopicture {height:96px;}
div.column ul.thumbs li:hover, div.column ul.thumbs li:active {border:solid 1px #2e2a1f;}

#header p#homelink a {position:absolute; width:240px; height:109px; top:0; right:0; display:block; text-indent:-2000em; padding-top:2em;}
body#archive #header p#homelink a {width:385px;}

/* =contact ---------------------- */

body#contact #header p#homelink a {position:absolute; width:140px; height:109px; top:28px; left:0; display:block; text-indent:-2000em;}
body#contact #page {padding-bottom:100px; background:url(/static/img/balloon.gif) no-repeat top left; background-position:196px 0; width:900px;}
body#contact #header {background:url(/static/img/macchi_contact.gif) no-repeat top left; background-position:0 28px; margin-bottom:41px;}

body#contact h1#logo a {width:240px; bottom:0; right:100px;}
body#contact #content {position:relative;}
body#contact #content form, body#contact #content p#thankyou {position:absolute; right:-47px; top:0; width:336px; padding-right:90px; background:url(/static/img/inverted_jenny.gif) no-repeat bottom right;}
body#contact #content p#thankyou {padding-bottom:200px;}
body#contact #content form textarea {width:336px;}
input, textarea {margin-bottom:1em; padding:2px;}
label {color:#45423b;}
button {border:none;}
ul.zemError {color:#900;}

div#address {font-size:0.9em; line-height:1.2em;}

div#brief {position:absolute; width:220px; top:190px; left:245px; text-align:center; color:#45423b;}
div#brief h3, div#address h3 {font-size:1em; font-weight:normal;}
div#address h3 {font-style:italic;}

/* =work ---------------------- */

div#description {width:296px; float:left; padding-left:43px; font-size:15px;}
/*body#work #header p.breadcrumbs, body#about #header p.breadcrumbs, body#logbook #header p.breadcrumbs, body#archive #header p.breadcrumbs {bottom:0;}*/

/* =logbook ---------------------- */

body#logbook #header {background:none;}
body#archive #header p.breadcrumbs, body#about #header p.breadcrumbs, body#work #header p.breadcrumbs {font-size:14px; position:absolute; bottom:22px; left:0;}
body#logbook #header p strong a {font-style:italic; font-size:22px; line-height:14px;}

body#logbook #content blockquote {padding-left:1em; border-left:1px solid #eee;}
body#logbook #content h1 {font-size:125%;}
body#logbook #content h1 a {border-bottom:none; color:#000;}
body#logbook #content h2 {font-size:110%;}

/* =archive ---------------------- */

body#archive #header {/*background:url(/static/img/aeroplane_larc_en_ciel_n1_pilote_drouhin.gif) no-repeat; background-position:right bottom;*/ background:none; height:70px;}
/*body#archive form {margin-bottom:1em;}*/
body#archive #content h2.archivemonth {margin:2.5em 0; font-weight:bold;}
body#archive #content p.archiveday {line-height:1em; margin:0 0 -1em 1em !important;}
body#archive #content p.archivetitle {line-height:1.2em; position:relative; padding-left:2.8em;}

/*body.linked #header {background:url(/static/img/Airplane_BoeingP26Peashooter.gif) no-repeat !important; background-position:right bottom !important; height:120px;}*/

/* =misc ---------------------- */

body#about #header {background:url(/static/img/macchi_home.gif) no-repeat top right; margin-bottom:12px;}
.quiet {color:#999;}
.normal {font-weight:normal;}

/* =typography, etc ---------------------- */

p.adminmenu {font-family:monospace; position:absolute; top:0; left:0; z-index:100; padding:1em 0;}
p#homelink {line-height:0 !important; margin:0 !important; font-style:italic;}
p#homelink a {border:none !important;}
p#homelink a:hover, p#homelink a:active {text-indent:0 !important; line-height:1em !important; color:#afa99f; background:none;}
p {margin:0 0 0.9em; line-height:1.4em;}
dt {margin:0 0 0.75em; color:#2e2a1f;}
body.detail dt {font-weight:bold;}
dd {margin:0 0 2em 1em;}
dd p {color:#000;}
ul, ol {margin-bottom:1em;}
li {line-height:1.4em;}
.unstyled {list-style:none;}
ul ul, ol ol, dd ul, dd ol {margin-left:1em;}
dd ul {list-style:circle;}
ol ol {list-style:lower-roman; font-size:0.9em;}
#content ul, #content ol {margin-left:1em;}
blockquote ul, blockquote ol {margin-left:1em;}
.extrapad {padding:0.25em 0.5em;}
a.plink {color:#ddd; text-decoration:none; font-size:0.8em; text-transform:capitalize; padding:0.25em 0.5em; border:0;}
body.detail a.plink {color:inherit;}
dt:hover a.plink, li:hover a.plink {color:#000;}
a.plink:hover {color:#000;}

h1 {font-size:23px; font-weight:bold;}
body#about h1 {font-size:1.7em;}
body#logbook h1 {margin:0 0 0.3em;}
h2 {font-size:21px; margin:1.5em 0 0.4em;}
body#about h2 {font-size:1.5em;}
h2.dateline {margin:5em 0 3em; text-transform:uppercase; font-size:0.9em !important; letter-spacing:0.2em; font-weight:normal;}
h2.datelinearchive {font-weight:bold;}
h3 {font-size:18px; margin:1em 0 0.8em;}
h3 span.normal {font-size:16px;}
h3.posted {font-size:14px; font-style:italic; font-weight:normal; margin-top:0em;}
body#about h3 {font-size:1em !important; margin:1em 0 0.3em;}
.small {font-size:0.8em;}
.noborder {border:none !important;}
p.caption {font-size:15px; font-style:italic; margin:0 0 2em;}
pre {margin:1em 0; padding:1em; overflow:visible; 
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
pre, code, kbd, samp, tt {font-family:courier, "courier new", monospace,monospace; font-size:0.9em;}
kbd {background:#ffc; padding:0.15em; border:1px solid #E6E3DB; border-radius:3px; line-height:0;}
pre.articlebreak {padding:0; margin:5em 0; font-family:monospace; color:#ccc; background:none; border:0 !important;}
strong, b {font-weight:bold;}
p.datelineresults {margin:2em 0 0;}
div.footnote {font-size:0.9em;}
div.footnote hr {margin:3em 0 1em; width:8em;}
p.paging {margin:5em 0; font-size:0.9em;}
img {border:0; display:block; margin-bottom:1em;}
body#home img {margin-bottom:0;}
acronym, abbr {border-bottom:1px dashed #2e2a1f;}
sup {line-height:0;}
hr {color:#eee; background:#eee; max-width:42em; height:1px; border:none; margin:1em 0;}
.caps {font-size:0.9em;}
.pull-right {float:right; padding:0 0 1em 1em;}
.pull-left {float:left; padding:0 0 0 1em 1em;}
.monospace {font-family:monospace;}
.titlecase {text-transform:capitalize;}
.center {text-align:center;}
.hide {display:none;}
a.edit {color:#afa99f;}

#footer {clear:both; padding:26px 43px;}

/* =responsive structure - work in progress ---------------------- */

@media (max-width: 970px) {
    #page, #intro {width:auto;}
    #content {padding-top:13em;}
    body#home #content, body#contact #content {padding-top:2em;}
    #intro {position:relative; font-style:italic; padding-top:38px; width:auto; float:none;}
    p.aeroplane a {margin:0 0 1.5em;}
    #latest {width:auto; clear:both; text-align:left; float:none;}
    body#home #header {padding-bottom:3em;}
    #header #logo a {display:block;}
    #header blockquote {position:normal; float:left;}
    body#contact #page {width:770px;}
/*    body#contact h1#logo a {right:0;}*/
    body#contact h1#logo a {right:0;}
    div#brief {left:43px; text-align:left;}
    body#contact #content form, body#contact #content p#thankyou {right:0;}
    div.logcolumn {width:99%; text-align:left;}
    div.logcolumn h2 {text-align:left; width:99%; padding-left:15px;}
    div.logcolumn h2#writing {background-position:0 0; text-align:left;}
/*    body#logbook #header p.breadcrumbs {}*/
    }
@media (max-width: 800px) {
    #page, #latest, #intro {width:auto;}
    body#logbook #header, body#archive #header {background:none !important;}
    #header #logo a {display:block; right:0;}
    div.column {margin:0 10px 0 0;}
    #header blockquote {position:relative; display:block; float:left; padding-top:1em;}
    #content img {width: 100%; height: auto;}
    #content img.thumbincontent {width:auto;}
    body#contact #page {background:none; width:770px;}
    body#contact h1#logo a {left:300px;}
    div#brief {left:43px; text-align:left;}
    body#contact #content form, body#contact #content p#thankyou {right:0;}
    div#description {padding-left:0;}
    }
@media (max-width: 650px) {
    #page, #intro {width:auto;}
    #header {margin:0 20px 0; width:auto;}
    body#logbook #header, body#archive #header {background:none !important;}
    #header #logo a {display:block;}
    #header blockquote {position:relative; display:block; float:left; display:block;}
    body#home #content {width:400px !important; padding-left:20px;}
    #content {width:auto !important; padding-left:20px; padding-right:40px;}
    #content img {width: 100%; height: auto;}
    #content img.thumbincontent {width:auto;}
    body#contact #page {width:570px; background:none;}
    body#contact #header {width:470px;}
    body#contact h1#logo a {left:150px;}
    div#brief {left:43px; text-align:left;}
    body#contact p#homelink {display:none !important;}
    body#contact form {width:100%;}
    body#contact #content form, body#contact #content p#thankyou, div#brief, div#address {position:relative; float:left; display:block;}
    div#brief {position:normal !important; top:0; left:4em;}
    div#description {padding-left:0;}
    #footer {padding-left:20px;}
    }
@media (max-width: 530px) {
    #page, #intro {width:auto; background:none;}
    #header {margin:0 20px 0;}
    body#logbook #header, body#archive #header {background:none !important;}
    #header #logo a {width:auto;}
    div.column {width:auto; display:block; margin:0 24px;}
    #header blockquote {position:relative; display:block; float:left; width:180px;}
    #content {width:auto !important; padding-left:20px; padding-right:25px;}
    body#home #content {width:auto !important; padding:0 5px !important;}
    body#home #header {position:relative; width:auto; background:none; padding-top:10px;}
    body#home #header blockquote {position:relative; width:auto;}
    body#home h1#logo a {position:relative;}
    #content img {width:100%; height:auto;}
    #content img.thumbincontent {width:auto;}
    body#contact #page {width:350px; background:none;}
    body#contact #header {width:180px; height:100px; background:none;}
    body#logbook #header p.breadcrumbs, body#archive #header p.breadcrumbs {width:auto; position:normal;}
    body#contact #content form, body#contact #content form textarea {width:260px !important;}
    body#contact h1#logo a {left:0;}
    body#contact p#homelink {display:none !important;}
    div#brief, body#contact #content form, body#contact #content p#thankyou, div#brief, div#address {position:relative; float:left; display:block;  text-align:left; background:none;}
    body#contact #content form {margin-bottom:0; padding-right:0;}
    div#brief {position:normal !important; top:1em; left:0;}
    div#description {padding-left:0;}
    #footer {padding-left:20px;}
    }
 