/*
Hypertexthero.css master stylesheet by Simon Griffee
Last update: 2013-04-27
*/

* {margin:0; padding:0;}

/* =layout =links =general ---------------------- */

body {font-family:"times new roman", times, serif; font-size:100%; color:#2e2a1f; background:#eae6d8 url(/static/img/bg.jpg) repeat 0 0;}

a:link, a:visited {color:#000; text-decoration:none; border-bottom:1px solid #c4c1b2; padding-bottom:0;}
a:visited {color:#2e2a1f;}
a:hover, a:active {text-decoration:none; color:#000; outline:none; background:#c4c1b2;}

:target {
   background: #ffc !important;
}

#wrapper {text-align:center;}
#page {width:970px; text-align:left; margin:0 auto; background:url(/static/img/bg_technical.gif) no-repeat top center; background-position:5px 0;}
body#error #page {padding-bottom:100px; background:url(/static/img/balloon_error.gif) no-repeat top left; background-position:352px -50px;}

#header {margin:0 43px 12px; height:137px; position:relative; background:url(/static/img/macchi_home.gif) no-repeat top right;}
#header blockquote {position:absolute; bottom:0; left:0; width:422px; font-size:14px; line-height:17px;}
#header p.breadcrumbs {position:absolute; bottom:0; left:0; font-size:14px;}

h1#logo a {position:absolute; right:185px; bottom:0; width:227px; height:53px; background:url(/static/img/logo_home.gif) no-repeat 0 0; text-indent:-2000em; border:none;}
h1#logo a:hover, h1#logo a:active, body#contact h1#logo a:hover, body#contact h1#logo a:active {background-position:0 -53px;}

#content {padding-left:43px; position:relative;}
body#logbook #content, body#about #content, body#error #content {float:left;}
#sidebar {float:right; width:296px; font-size:14px;}
#picture {float:left; margin:0 0 1em 0;}
#picture p {max-width:400px;}
#content p, #content li, #content dd {max-width:32em;}

/* =home ---------------------- */

body#home #header {margin-bottom:12px;}
div.column {width:155px; float:left; margin:0 26px 0 0;}

div.column h2 {text-align:center; background: url(/static/img/headings.png) no-repeat top left; text-indent:-2000em; margin:25px auto 10px; width: 111px; height: 68px;}

h2#etcetera {background-position: 0 0;} 
h2#identity {background-position: 0 -118px;} 
h2#print {background-position: 0 -236px;} 
h2#websites {background-position: 0 -354px;} 
h2#writing {background-position: 0 -472px;  width: 162px; height: 80px;} 
h2#writing a {margin:0 auto; border:0; display:block; width: 162px; height: 80px;}
h2#writing a:hover {background:none; border-bottom:1px solid #c4c1b2;}

/* =temporarily staying here in case we run into browser issues with sprites
h2#websites {height:111px; width:162px; background:url(/static/img/heading_websites.gif) no-repeat 20px 30px; text-indent:-2000em; margin:0 auto;}
h2#print {height:111px; width:162px; background:url(/static/img/heading_print.gif) no-repeat 20px 30px; text-indent:-2000em; margin:0 auto;}
h2#identity {height:111px; width:162px; background:url(/static/img/heading_identity.gif) no-repeat 20px 30px; text-indent:-2000em; margin:0 auto;}
h2#etcetera {height:111px; width:162px; background:url(/static/img/heading_etcetera.gif) no-repeat 20px 30px; text-indent:-2000em; margin:0 auto;}
h2#writing a {display:block; height:111px; width:162px; background:url(/static/img/heading_writing.gif) no-repeat 0 30px; text-indent:-2000em; margin:0 auto; border:0;}*/

#latest {margin:-15px 0 0;}
#latest ul li {padding:0.5em 0; font-size:14px;}
div.column ul.thumbs {list-style:none;}
div.column ul.thumbs li {margin-bottom:26px; width:155px; border:solid 1px #c4c1b2;}
div.column ul.thumbs li:hover, div.column ul.thumbs li:active {border:solid 1px #2e2a1f;}

#header p#homelink a {position:absolute; width:240px; height:109px; top:0; right:0; display:block; text-indent:-2000em;}
body#archive #header p#homelink a {width:385px;}

/* =contact ---------------------- */

body#contact #header p#homelink a {position:absolute; width:140px; height:109px; top:28px; left:0; display:block; text-indent:-2000em;}
body#contact #page {padding-bottom:100px; background:url(/static/img/balloon.gif) no-repeat top left; background-position:196px 0; width:900px;}
body#contact #header {background:url(/static/img/macchi_contact.gif) no-repeat top left; background-position:0 28px; margin-bottom:41px;}
body#contact h1#logo a {width:240px; bottom:0; right:100px; background:url(/static/img/logo_contact.gif) no-repeat 0 0;}
body#contact #content {position:relative;}
body#contact #content form, body#contact #content p#thankyou {position:absolute; right:-47px; top:0; width:336px; padding-right:90px; background:url(/static/img/inverted_jenny.gif) no-repeat bottom right;}
body#contact #content p#thankyou {padding-bottom:200px;}
body#contact #content form textarea {width:336px;}
input, textarea {margin-bottom:1em; padding:2px;}
label {color:#45423b;}
button {border:none;}
ul.zemError {color:#900;}

div#address {font-size:0.9em; line-height:1.2em;}

div#brief {position:absolute; width:220px; top:190px; left:245px; text-align:center; color:#45423b;}
div#brief h3, div#address h3 {font-size:1em; font-weight:normal;}
div#address h3 {font-style:italic;}

/* =work ---------------------- */

div#description {width:296px; float:left; padding-left:43px; font-size:15px;}
body#work #header p.breadcrumbs, body#about #header p.breadcrumbs, body#logbook #header p.breadcrumbs {bottom:22px;}

/* =logbook ---------------------- */

body#logbook #header {background:url(/static/img/Airplane_BoeingP26Peashooter.gif) no-repeat; background-position:right bottom; height:120px;}
body#archive #header p.breadcrumbs, body#about #header p.breadcrumbs, body#work #header p.breadcrumbs {font-size:14px; position:absolute; bottom:22px; left:0;}
body#logbook #header p strong a {font-style:italic; font-size:22px; line-height:14px;}

body#logbook #content blockquote {padding-left:1em; border-left:1px solid #c4c1b2;}
body#logbook #content h1 {font-size:125%;}
body#logbook #content h1 a {border-bottom:none;}
body#logbook #content h1 a:hover {background:#c4c1b2 !important; color:#000 !important;}
body#logbook #content h2 {font-size:110%;}

/* =archive ---------------------- */

body#archive #header {background:url(/static/img/aeroplane_larc_en_ciel_n1_pilote_drouhin.gif) no-repeat; background-position:right bottom; height:120px;}
body#archive form {margin-bottom:1em;}
body#archive #content h2.archivemonth {margin:2.5em 0; font-weight:bold;}
body#archive #content p.archiveday {line-height:1em; margin:0 0 -1em 1em !important;}
body#archive #content p.archivetitle {line-height:1.2em; position:relative; padding-left:2.8em;}

/* =misc ---------------------- */

body#about #header {background:url(/static/img/macchi_home.gif) no-repeat top right; margin-bottom:12px;}
body#about #page, body#archive #page {background:url(/static/img/bg_technical.gif) no-repeat top center; background-position:5px 0;}
.quiet {color:#9E9682;}
.normal {font-weight:normal;}

/* =typography, etc ---------------------- */

p#homelink {line-height:0 !important; margin:0 !important; font-style:italic;}
p#homelink a {border:none !important;}
p#homelink a:hover, p#homelink a:active {text-indent:0 !important; line-height:1em !important; color:#afa99f; background:none;}
p {margin:0 0 1em; line-height:1.3em;}
dt {margin:0 0 0.5em; color:#2e2a1f;}
body.detail dt {font-weight:bold;}
dd {margin:0 0 2em 1em;}
dd p {color:#000;}
ul, ol {margin-bottom:1em;}
li {line-height:1.3em;}
.unstyled {list-style:none;}
ul ul, ol ol, dd ul, dd ol {margin-left:1em;}
dd ul {list-style:circle;}
ol ol {list-style:lower-roman; font-size:0.9em;}
#content ul, #content ol {margin-left:1em;}
blockquote ul, blockquote ol {margin-left:1em;}
.extrapad {padding:0.25em 0.5em;}
a.plink {color:#c4c1b2; text-decoration:none; font-size:0.8em; text-transform:capitalize; padding:0.25em 0.5em; border:0;}
body.detail a.plink {color:inherit;}
body#logbook dt a:hover {background:#c4c1b2; color:#000;}
body#logbook dt a:hover {background:#c4c1b2; color:#000;} 
body#logbook dt:hover a.plink {color:#000;}
body#logboook a.plink:hover {color:#000;}

h1 {font-size:19px; font-weight:bold;}
body#about h1 {font-size:1.7em;}
body#logbook h1 {margin:0 0 0.5em;}
h2 {font-size:16px; margin:1.5em 0 0.3em;}
body#about h2 {font-size:1.5em;}
h2.dateline {margin:5em 0 3em; text-transform:uppercase; font-size:0.9em !important; letter-spacing:0.2em; font-weight:normal;}
h3.posted {font-size:14px; font-style:italic; font-weight:normal; margin-top:0em;}
body#about h3 {font-size:1em !important; margin:1em 0 0.3em;}
.small {font-size:0.8em;}
p.caption {font-size:15px; font-style:italic; margin:0 0 2em;}
pre {font-family:monospace; margin:1em 0; padding:1em; overflow:visible; white-space: pre-wrap; /* css-3 */ white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */}
pre.articlebreak {padding:0; margin:5em 0; font-family:monospace; color:#afa99f; background:none;}
strong, b {font-weight:bold;}
p.datelineresults {margin:2em 0 0;}
div.footnote {font-size:0.8em;}
p.paging {margin:5em 0;}
img {border:0; display:block; margin-bottom:1em;}
body#home img {margin-bottom:0;}
acronym, abbr {border-bottom:1px dashed #2e2a1f;}
sup {line-height:0;}
hr {color:#c4c1b2; background:#c4c1b2; max-width:42em; height:1px; border:none; margin:1em 0;}
.caps {font-size:0.9em;}
.pull-right {float:right; padding:0 0 1em 1.5em;}
.pull-left {float:left; padding:0 0 0 1.5em 1em;}
.monospace {font-family:monospace;}
.titlecase {text-transform:capitalize;}
.center {text-align:center;}
.hide {display:none;}
a.edit {color:#afa99f;}

#footer {clear:both; padding:26px 43px; font-size:14px;}

/* =responsive structure - work in progress ---------------------- */

@media (max-width: 970px) {
    #page {width:auto;}
    #latest {width:auto; clear:both; text-align:left; float:none;}
    #header #logo a {display:block;}
    #header blockquote {position:normal; float:left; width:300px;}
    body#contact #page {width:770px;}
    body#contact h1#logo a {right:0;}
    div#brief {left:43px; text-align:left;}
    body#contact #content form, body#contact #content p#thankyou {right:0;}    
    }
@media (max-width: 800px) {
    #page, #latest {width:auto;}
    body#logbook #header, body#archive #header {background:none !important;}
    #header #logo a {display:block; right:0;}
    div.column {margin:0 10px 0 0;}
    #header blockquote {position:relative; display:block; float:left; width:400px; padding-top:1em;}
    #content img {width: 100%; height: auto;}
    #content img.thumbincontent {width:auto;}
    body#contact #page {background:none; width:770px;}
    body#contact h1#logo a {left:300px;}
    div#brief {left:43px; text-align:left;}
    body#contact #content form, body#contact #content p#thankyou {right:0;}
    div#description {padding-left:0;}
    }
@media (max-width: 650px) {
    #page {width:auto;}
    #header {margin:0 20px 0; width:auto;}
    body#logbook #header, body#archive #header {background:none !important;}
    #header #logo a {display:block; right:0;}
    #header blockquote {position:relative; display:block; float:left; width:300px; display:block;}
    body#home #content {width:400px !important; padding-left:20px;}
    #content {width:500px !important; padding-left:20px;}
    #content img {width: 100%; height: auto;}
    #content img.thumbincontent {width:auto;}
    body#contact #page {width:570px; background:none;}
    body#contact #header {width:470px;}
    body#contact h1#logo a {left:150px;}
    div#brief {left:43px; text-align:left;}
    body#contact p#homelink {display:none !important;}
    body#contact form {width:100%;}
    body#contact #content form, body#contact #content p#thankyou, div#brief, div#address {position:relative; float:left; display:block;}
    div#brief {position:normal !important; top:0; left:4em;}
    div#description {padding-left:0;}
    #footer {padding-left:20px;}
    }
@media (max-width: 450px) {
    #page {width:auto; background:none;}
    #header {margin:0 20px 0;}
    body#logbook #header, body#archive #header {background:none !important;}
    #header #logo a {display:block; right:0;}
    div.column {margin:0 24px 0 0;}
    #header blockquote {display:none; position:relative;  float:left; width:180px;}
    #content {width:340px !important; padding-left:20px;}
    body#home #content {width:380px !important; padding-left:5px !important;}
    #content img {width:100%; height:auto;}
    #content img.thumbincontent {width:auto;}
    body#contact #page {width:350px; background:none;}
    body#contact #header {width:180px; height:100px; background:none;}
    body#logbook #header p.breadcrumbs, body#archive #header p.breadcrumbs {width:auto; position:normal;}
    body#contact #content form, body#contact #content form textarea {width:300px;}
    body#contact h1#logo a {left:0;}
    body#contact p#homelink {display:none !important;}
    div#brief, body#contact #content form, body#contact #content p#thankyou, div#brief, div#address {position:relative; float:left; display:block;  text-align:left; background:none;}
    body#contact #content form {margin-bottom:0; padding-right:0;}
    div#brief {position:normal !important; top:1em; left:0;}
    div#description {padding-left:0;}
    #footer {padding-left:20px;}
    }