<div id="address">
    <h3><a href="/about/" title="About Simon.">Simon Griffee</a> · Hypertexthero</h3>
    <strong>Email:</strong> <a href="mailto:simongriffee@gmail.com" rel="me">simongriffee@gmail.com</a>
<br>

<strong>Twitter:</strong> <a href="https://twitter.com/hypertexthero" rel="me">hypertexthero</a>
<br>    
<strong>Github:</strong> <a href="https://github.com/hypertexthero" rel="me">hypertexthero</a>
<br>
<strong>Homebase:</strong> The Internets<br>
<a href="/files/SimonGriffee.vcf" title="Virtual business card.">Download my vCard</a>
<br>
</div>
