{% extends "base.html" %}
{% block headtitle %}Hypertexthero: Contact{% endblock headtitle %}
{% block bodyid %}contact{% endblock bodyid %}

{% block header %}
	{% include "hth/nav.html" %}
	{% include "hth/sky.html" %}
{% endblock header %}

{% block content %}
<div class="intro">
	<h1 style="margin:0 0 0.5em 0;">Calling <a href="/" title="Go to homepage." style="color:#000;">Hypertexthero</a></h1>
	<p><a href="mailto:simongriffee@gmail.com" rel="me" title="Send me an email.">simongriffee@gmail.com</a></p>
</div> {# /.intro #}

<p>If you are getting in touch regarding potential work, completing a project brief helps me create a proposal that meets your specific needs and helps to make sure things don’t go horribly wrong.</p> 

<p>Please copy and paste the following into your email to me, then replace the text in italics with your answers.</p>

<script type="text/javascript">
    function selectText(containerid) {
        if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById(containerid));
            range.select();
        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById(containerid));
            window.getSelection().addRange(range);
        }
    }
</script>
		
<style type="text/css" media="screen">
#selectable i {color:#008000;}
</style>

<p class="pull-right small quiet tip" style="padding-top:1em;">
	<b>Tip:</b> Click the text then press <kbd title="On Macs.">Command-C</kbd> or <kbd title="On PCs.">CTRL-C</kbd> to copy.
</p>

<div id="selectable" onclick="selectText('selectable')" style="border:double #eee; border-left:0; border-right:0; margin-bottom:1em;">

	<h3>Project Brief</h3>

	<p>
		<strong>Your name:</strong>
		<br>
		<i>Your name and title here</i>.
	</p>

	<p>
		<b>Your organization name and location:</b>
		<br>
		<i>Organization name and location here.</i>
	</p>

	<p>
		<b>Your email address:</b>
		<br>
		<i>you@domain.tld</i>
	</p>

	<p>
		<b>Your business phone:</b>
		<br>
		<i>Please include area and country code.</i>
	</p>

	<p>
		<b>Describe your organization:</b>
		<br>
		<i>Briefly, who are you, what do you do, why does it matter? If you have an existing website, what is its URL?</i>
	</p>

	<p>
		<b>Describe the concept, product or service you intend to promote and the medium you have in mind for the project (website, brochure, print ads, etc):</b>
		<br>
		<i>Your answer.</i>
	</p>

	<p>
		<b>Describe your audience:</b>
		<br>
		<i>Who are they? What do they do? What do they think and feel?</i>
	</p>

	<p>
		<b>Describe the primary purpose of your project:</b>
		<br>
		<i>What primary goal do you wish to accomplish by promoting your concept, product or service to your audience? What do you want your audience to think and feel when they hear your voice? What does this project need to accomplish at the very least?</i>
	</p>

	<p>
		<b>Describe your brand’s tone of voice:</b>
		<br>
		<i>In as few words or sentences as possible, describe the feel you wish your concept, product or service to evoke in your audience. Warm? Serious? Playful? Hi-tech? Humorous? Classic? Modern? Understated? Punk rock?</i>
	</p>

	<p>
		<b>Additional notes and comments:</b>
		<br>
		<i>Please use as much detail as you need.</i>
	</p>

</div> {# /#selectable #}

	<p>
		Thank you!
		<br>
		—Simon
	</p>
	
{% comment %}
	

	<h2 style="margin-top:5em; clear:both;" id="references">References <small><a class="normal small" href="#top">&uarr; back to top</a></small></h2>

	<blockquote>
		<p>I have known Mr. Griffee professionally for nearly three years and have found him to be a conscientious employee, outstanding worker and of fine character. On a personal basis, while I have not had much interaction with Mr. Griffee socially, the interaction I have had has been cordial, respectful and mature.</p>
	</blockquote>
	<p style="margin-bottom:2em;"><i>—Craig Fedchock, Officer-In-Charge, International Plant Protection Convention, Food and Agriculture Organization of the United Nations</i></p>

	<blockquote>
		<p>I thought the ‘<a href="http://simongriffee.com/singles/love-longing">love and longing</a>’ category was a nice touch full of humanity. All the photos are beautiful!</p>
	</blockquote>
	<p style="margin-bottom:2em;"><i>—Bianca Escobar, Senior Art Producer at Droga5</i></p>

	<blockquote>
	  <p>One thing that really distinguishes Simon is that he has both ‘hard’ and ‘soft’ skills. He understands web development inside and out. At the same time he excels at listening to his colleagues and discerning what they really want. In fact, people often don’t know what they want. I have seen Simon on many occasions patiently guide subject matter experts to an excellent solution saving otherwise wasted time and effort.</p>
	</blockquote>
	<p style="margin-bottom:2em;"><i>—Bryan Berry, Infrastructure Engineer, Cycle Computing</i></p>

	<blockquote>
	  <p>Apart from the layout and overall design, what is so wonderful about your work is your ability to blend the writing and the art in such a sophisticated way. One complements the other and the result is harmony and visual pleasure. Brilliant.</p>
	</blockquote>
	<p style="margin-bottom:2em;"><i>—Molly Bianchini, English Teacher, American Overseas School of Rome</i></p>

	<blockquote>
	  <p>Simon is a brilliant designer, a pleasure to work with, an open and creative person, honest and direct. I would recommend him for any position or assignment.</p>
	</blockquote>
	<p style="margin-bottom:2em;"><i>—Jon Cooper, Project Manager and IT Executive, European Artisans</i></p>

	<blockquote>
	  <p>Simon is a great guy to work with, he always delivers on time and on budget. The work he does is fantastic too, crisp, clean.</p>
	</blockquote>
	<p style="margin-bottom:2em;"><i>—Karim Gargum, Head of Marketing, Faculty of 1000 Ltd</i></p>

	<blockquote>
	  <p>Hi Simon, your work always fascinates me. At first your pages look a bit oversimplified, almost ‘empty’. But then the realization that everything is there and easily found begins to emerge and they become a pleasure to use. I am very happy with the way it looks, well done!</p>
	</blockquote>
	<p style="margin-bottom:2em;"><i>—Marco Marsella, Co-founder and Technical Director, IT Works</i></p>

	<blockquote id="elliott">
	  <p>Simon, As we finish another HS basketball season, as always, I bring up your memory. You are still the most natural passer and player I have ever coached. I am glad to finally get ahold of you again. Of course, by now basketball is probably just a historical event for you. I see that you are now successful in the world. If you are in China, look me up. All the best. Coach Elliott</p>
	</blockquote>
	<p style="margin-bottom:2em;"><i>—Mark Elliott, Director of Athletics at American International School of Guangzhou</i></p>

{% endcomment %}
	
	{# <p> #}
	{# 	<strong>Google+:</strong> <a href="https://plus.google.com/+SimonGriffee/">+SimonGriffee</a><br> #}
	{#   <strong>Twitter:</strong> <a href="https://twitter.com/simongriffee">simongriffee</a><br> #}
	{#   <strong>Instagram:</strong> <a href="https://instagram.com/simongriffee">simongriffee</a><br> #}
	{#   <strong>Github:</strong> <a href="https://github.com/hypertexthero" title="I'm not a good coder, but I can hack things together.">hypertexthero</a> #}
	{# </p> #}

{# <form action="" method="post">{% csrf_token %} #}
{# {{ form.non_field_errors }} #}
{#  #}
{# <label for="id_body">{{ form.body.label }}</label> #}
{# <div class="input{% if form.body.errors %} alert alert-error{% endif %}"> #}
{# <textarea cols="58" rows="16" id="id_body" name="body" cols="40" tabindex="1">{{ form.data.body }}</textarea> #}
{# {% if form.body.errors %} #}
{# {% for error in form.body.errors %} #}
{# {{ error|escape }} #}
{# {% endfor %} #}
{# {% endif %} #}
{# </div> #}
{# <label for="id_name">{{ form.name.label }}</label> #}
{# <div class="input{% if form.name.errors %} alert alert-error{% endif %}"> #}
{# <input type="text" name="name" value="{{ form.data.name }}" id="id_name" size="35" tabindex="2"> #}
{# {% if form.name.errors %} #}
{# {% for error in form.name.errors %} #}
{# {{ error|escape }} #}
{# {% endfor %} #}
{# {% endif %} #}
{# </div> #}
{# <label for="id_email">{{ form.email.label }}</label> #}
{# <div class="input{% if form.email.errors %} alert alert-error{% endif %}"> #}
{# <input type="text" name="email" value="{{ form.data.email }}" id="id_email" size="35" tabindex="3"> #}
{# {% if form.email.errors %} #}
{# {% for error in form.email.errors %} #}
{# {{ error|escape }} #}
{# {% endfor %} #}
{# {% endif %} #}
{# </div> #}
{#  #}
{# <input type="submit" value="Send" tabindex="4"> #}
{# </form> #}

{% endblock %}

{% block footer %}
{# <div id="brief"> #}
{# <h3>Not sure exactly what you need?</h3> #}
{# <p>Download this <a href="/static/files/projectbrief.zip" title="Hypertexthero project brief."><strong>project brief</strong></a> to #}
{# help us find out <span class="small">(zipped plain text file, 2kb).</span></p> #}
{# </div> #}
{% endblock footer %}
