{% extends "base.html" %}
{% block headtitle %}Hypertexthero: Contact{% endblock headtitle %}
{% block bodyid %}contact{% endblock bodyid %}

{% block header %}
	{% include "hth/nav.html" %}
    {# {% include "hth/sky.html" %} #}
{% endblock header %}

{% block content %}
<div class="intro">
	<h1 style="margin:0 0 0.5em 0;">Calling Hypertexthero!</h1>
	<p>Email: <a href="mailto:simongriffee@gmail.com" rel="me" title="Send me an email.">simongriffee@gmail.com</a> <!-- or <a href="mailto:spg2128@columbia.edu" rel="me" title="To my Columbia University address if you are feeling scholarly.">spg2128@columbia.edu</a> -->
  <br>
  Phone: +1 (347) 498-5369
  <br>
  Dribbble: <a href="https://dribbble.com/hypertexthero">hypertexthero</a>
  <br>
  Instagram: <a href="https://instagram.com/simongriffee/">simongriffee</a>
  <br>
  Twitter: <a href="https://twitter.com/simongriffee/">simongriffee</a>
  </p>
</div> {# /.intro #}

<p>If you are getting in touch regarding potential work please consider answering the questions below to help me craft a proposal and estimate that best meets your needs.</p>

<script type="text/javascript">
    function selectText(containerid) {
        if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById(containerid));
            range.select();
        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById(containerid));
            window.getSelection().addRange(range);
        }
    }
</script>
		
<style type="text/css" media="screen">
#selectable i {color:#008000;}
</style>

<p class="pull-right small quiet tip" style="padding-top:1em;">
	<b>Tip:</b> Click the text then press <kbd title="On Macs.">Command-C</kbd> or <kbd title="On PCs.">CTRL-C</kbd> to copy.
</p>

<div id="selectable" onclick="selectText('selectable')" style="border:double #eee; border-left:0; border-right:0; margin-bottom:1em;">

	<h3 id="brief">Project Brief</h3>

	<p>
		<strong>Your name:</strong>
		<br>
		<i>Your name and title here</i>.
	</p>

	<p>
		<b>Your organization name and location:</b>
		<br>
		<i>Organization name and location here.</i>
	</p>

	<p>
		<b>Your email address:</b>
		<br>
		<i>you@domain.tld</i>
	</p>

	<p>
		<b>Your business phone:</b>
		<br>
		<i>Please include area and country code.</i>
	</p>

	<p>
		<b>Describe your organization:</b>
		<br>
		<i>Briefly, who are you, what do you do, why does it matter? If you have an existing website, what is its URL?</i>
	</p>

	<p>
		<b>Describe the concept, product or service you intend to promote and the medium you have in mind for the project (website, brochure, print ads, etc):</b>
		<br>
		<i>Your answer.</i>
	</p>

	<p>
		<b>Describe your audience:</b>
		<br>
		<i>Who are they? What do they do? What do they think and feel?</i>
	</p>

	<p>
		<b>Describe the primary purpose of your project:</b>
		<br>
		<i>What primary goal do you wish to accomplish by promoting your concept, product or service to your audience? What do you want your audience to think and feel when they hear your voice? What does this project need to accomplish at the very least?</i>
	</p>

	<p>
		<b>Describe your brand’s tone of voice:</b>
		<br>
		<i>In as few words or sentences as possible, describe the feel you wish your concept, product or service to evoke in your audience. Warm? Serious? Playful? Hi-tech? Humorous? Classic? Modern? Understated? Punk rock?</i>
	</p>

	<p>
		<b>Additional notes and comments:</b>
		<br>
		<i>Please use as much detail as you need.</i>
	</p>

</div> {# /#selectable #}

	<p>
		Thank you!
		<br>
		—Simon
	</p>


	
	{# <p> #}
	{# 	<strong>Google+:</strong> <a href="https://plus.google.com/+SimonGriffee/">+SimonGriffee</a><br> #}
	{#   <strong>Twitter:</strong> <a href="https://twitter.com/simongriffee">simongriffee</a><br> #}
	{#   <strong>Instagram:</strong> <a href="https://instagram.com/simongriffee">simongriffee</a><br> #}
	{#   <strong>Github:</strong> <a href="https://github.com/hypertexthero" title="I'm not a good coder, but I can hack things together.">hypertexthero</a> #}
	{# </p> #}

{# <form action="" method="post">{% csrf_token %} #}
{# {{ form.non_field_errors }} #}
{#  #}
{# <label for="id_body">{{ form.body.label }}</label> #}
{# <div class="input{% if form.body.errors %} alert alert-error{% endif %}"> #}
{# <textarea cols="58" rows="16" id="id_body" name="body" cols="40" tabindex="1">{{ form.data.body }}</textarea> #}
{# {% if form.body.errors %} #}
{# {% for error in form.body.errors %} #}
{# {{ error|escape }} #}
{# {% endfor %} #}
{# {% endif %} #}
{# </div> #}
{# <label for="id_name">{{ form.name.label }}</label> #}
{# <div class="input{% if form.name.errors %} alert alert-error{% endif %}"> #}
{# <input type="text" name="name" value="{{ form.data.name }}" id="id_name" size="35" tabindex="2"> #}
{# {% if form.name.errors %} #}
{# {% for error in form.name.errors %} #}
{# {{ error|escape }} #}
{# {% endfor %} #}
{# {% endif %} #}
{# </div> #}
{# <label for="id_email">{{ form.email.label }}</label> #}
{# <div class="input{% if form.email.errors %} alert alert-error{% endif %}"> #}
{# <input type="text" name="email" value="{{ form.data.email }}" id="id_email" size="35" tabindex="3"> #}
{# {% if form.email.errors %} #}
{# {% for error in form.email.errors %} #}
{# {{ error|escape }} #}
{# {% endfor %} #}
{# {% endif %} #}
{# </div> #}
{#  #}
{# <input type="submit" value="Send" tabindex="4"> #}
{# </form> #}

{% endblock %}

{% block footer %}
{# <div id="brief"> #}
{# <h3>Not sure exactly what you need?</h3> #}
{# <p>Download this <a href="/static/files/projectbrief.zip" title="Hypertexthero project brief."><strong>project brief</strong></a> to #}
{# help us find out <span class="small">(zipped plain text file, 2kb).</span></p> #}
{# </div> #}
{% endblock footer %}
