{% extends "base.html" %}
{% block headtitle %}Hypertexthero: Contact Completed{% endblock headtitle %}
{% block bodyid %}contact{% endblock bodyid %}

{% block header %}
  {% include "hth/nav.html" %}
{% endblock header %}

{% block content %}
  <h1 style="margin:0 0 1em 0;" class="normal">Message Sent!</h1>
  <p id="thankyou">Thank you for sending your message. <br>I will get back to you shortly. <br>—Simon</p>
{% endblock %}

{% block footer %}
  {% include "contact_form/address.html" %}
{% endblock footer %}