{% extends "base.html" %}
{% block headtitle %}Hypertexthero: Contact{% endblock headtitle %}
{% block bodyid %}contact{% endblock bodyid %}

{% block header %}
<p id="homelink"><a href="/" title="Hypertexthero homepage and portfolio.">Home</a></p>
<h1 id="logo"><a href="/" title="Hypertexthero homepage and portfolio.">Calling <b>Hypertexthero</b> for Visual Design &amp; Web Development</a></h1>
{% endblock header %}

{% block content %}
<form style="background:none;">
<p>Send an email to <a href="mailto:simongriffee@gmail.com" title="Gmail email until txd host fixes email issues.">simongriffee@gmail.com</a>.</p>
</form>


{% include "contact_form/address.html" %}

<div id="brief">
<h3>Not sure exactly what you need?</h3>
<p>Download this <a href="/files/projectbrief.zip" title="Hypertexthero project brief."><strong>project brief</strong></a> to
help us find out <span class="small">(zipped plain text file, 2kb).</span></p>
</div>


{% endblock %}

{% block footer %}{% endblock footer %}
