{% extends "base.html" %}
{% block headtitle %}Hypertexthero: 404 Not Found{% endblock headtitle %}
{% block bodyid %}error{% endblock bodyid %}

{% load hth_tags %}

{% block header %}
    <p class="breadcrumbs"><a href="/" title="Hypertexthero homepage.">Hypertexthero</a> / 404 Not Found</p>
    {% include "hth/nav.html" %}
{% endblock header %}

{% block content %}
<h1>Uh-oh!</h1>
<p>It seems the page you are looking for could not be found. Please try the <a href="/" title="Hypertexthero homepage.">homepage</a> or search the <a href="/archive/" title="Logbook archive.">Logbook archive</a>. I do my best to keep <a href="http://www.w3.org/Provider/Style/URI" title="Cool URI&#39;s don&#39;t change.">keep things organized here</a>, so please <a href="/contact/" title="Get in touch!">let me know</a> if you think there is a problem. <br><br>Cheers,<br> Simon</p>
{% endblock %}

{% block footer %}
{{ block.super }}
{% endblock footer %}