{% extends "base.html" %}
{% block headtitle %}Hypertexthero: Résumé{% endblock %}
{% block keywords %}Web, Design, Simplicity{% endblock %}

{% block extrahead %}
{% endblock extrahead %}

{% block bodyid %}about{% endblock bodyid %}
{% block bodyclass %}detail{% endblock bodyclass %}

{% block header %}
    {% include "hth/nav.html" %}
        {# {% include "hth/sky.html" %} #}
    {# <p class="breadcrumbs"><a href="/" title="Hypertexthero homepage.">Hypertexthero</a> / Résumé</p> #}
{% endblock header %}


{% block content %}

<a href="#top"> </a>
<div class="intro">
{# <img src="/static/files/GRS-20140402-171125-small.jpg" alt="A photograph of Hypertexthero photographing." style="border:1px solid #eee; border-radius:2px;"> #}

<h1 style="margin-bottom:0.5em;" id="summary">Simon Griffee</h1>

{% comment %}
     <br>

<small>
 
 {# <span>Designer</span> #}
{# <br> #}
<small class="quiet normal"><a href="/static/files/SimonGriffee.pdf" title="Portable Document Format">↓ Résumé</a> <span class="small"><span class="caps">PDF</span> 96kb</small>
</small>
</h1>
</div> {# /.intro #}

<h2 id="objectives">Objectives</h2>
{% endcomment %}

{# <img src="/static/img/GRS-20110802-000753.jpg" alt="Self-portrait." width="530"> #}
<img src="/static/img/simon-sf.jpg" alt="Simon." class="pull-right" style="width:133px; height:133px;">

<p>I’m a graphic and web designer with over fifteen years experience working in large and small projects and places. Born and raised in Brazil, my childhood was spent on the move there. I learned English in Tunisia and to see in Italy. I currently live in New York City where I <a href="http://hypertexthero.com/work/">work</a> as an independent designer and printer in <a href="https://vimeo.com/19005726">Milton Glaser</a>’s studio and at <a href="/work/columbia-italian-academy/">Columbia University</a>.</p>

<p><a href="/static/files/SimonGriffee.pdf" title="Portable Document Format">Download my résumé</a> <small class="caps quiet">(PDF 96kb)</small>.</p>
{% endblock %}

{% block footer %}

{% endblock footer %}