<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="robots" content="all">
	<meta http-equiv="imagetoolbar" content="false">
	<meta name="MSSmartTagsPreventParsing" content="true">
	<meta name="google-site-verification" content="CvLKcJBPrtNY455YaUc8M30eCw8V1ITHJEmg1l-mX9U">
	<meta name="keywords" content="{% block keywords %}{% endblock %}{% block tags %}{% endblock tags %}">
	{% comment %}<meta name="description" content="{% block description %}{% endblock %}">{% endcomment %}
	<meta name="author" content="Simon Griffee">
	<meta name="copyright" content="Copyright 2001-{% now "Y" %} Simon Griffee.">

	<!-- https://indieauth.com/setup -->
	<link href="https://github.com/hypertexthero" rel="me">

  {# <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="http://hypertexthero.com/logbook/atom/"> #}
	<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="http://hypertexthero.com/logbook/rss/">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,300,300italic,500,500italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/hypertexthero20150602.css" type="text/css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/code.css" type="text/css">
	
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ STATIC_URL }}apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}favicon-16x16.png" sizes="16x16">
	<link rel="Shortcut Icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon">

	{% block extrahead %}{% endblock extrahead %}
	<title>{% block headtitle %}{% endblock headtitle %}</title>
</head>

<body id="{% block bodyid %}{% endblock bodyid %}" class="{% block bodyclass %}{% endblock bodyclass %}">
    {% if user.is_staff %}
    <p class="adminmenu">
        <a style="padding:1em; border:0;" href="/admin/">admin</a> <a style="padding:1em; border:0;" href="/admin/logout/">logout</a>
    </p>
    {% endif %}
<div id="wrapper">
  <div id="page">
    <div id="header">
      {% block header %}{% endblock header %}
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div> {# /#content #}
    <div id="footer">
      {% block footer %}    
        {% include "hth/footer.html" %}
        <hr class="hide">
        {% include "hth/search_form.html" %}
      {% endblock footer %}    
    </div> {# /#footer #}
  </div> {# /#page #}
</div> {# /#wrapper #}
</body>
</html>
