{% extends "base.html" %}
{% block headtitle %}Hypertexthero: Web, Design, Simplicity{% endblock headtitle %}
{% block keywords %}Web, Design, Simplicity{% endblock %}
{% block bodyid %}home{% endblock bodyid %}

{% load hth_tags %}

{% block header %}
  {% include "hth/nav.html" %}
{% endblock header %}

{% block content %}
<div class="intro">
  <h1 style="margin:0 0 0.5em 0;"><a href="/contact/" title="At your service.">Call</a> Hypertexthero for <a href="/work/" title="See selected work.">design work</a></h1>

{# <p> #}
{# 	  <a style="padding-top:5px; float:left; padding-right:15px; border:0; margin:0" href="/cv/" title="Secret link to my résumé."><img style="border:1px solid #eee;" src="/static/img/simon-sf.jpg" alt="Simon Griffee"></a> #}
{# 	<b><a href="/" title="Home.">Hypertexthero</a></b> aligns things so they <a href="/work/" title="Work examples.">look good and are useful</a>. He also <a href="/archive/" title="Archive of original logbook entries.">writes</a>, <a href="/linked/" title="List of links to other places on the internet that Hypertexthero finds interesting.">links</a> and <a href="http://simongriffee.com" title="See my photographs at SimonGriffee.com">photographs</a>. You can <a href="/contact/" title="Call Hypertexthero.">contact</a> him.</span> #}
{# </p> #}




  {% filter my_markdown %}
  <a style="padding-top:5px; float:right; padding-left:15px; border:0; margin:0;" href="/cv/" title="See my résumé."><img style="border:1px solid #eee;" src="/static/img/simon-sf.jpg" alt="Simon Griffee"></a>

  Hypertexthero is the little design studio of designer and [photographer](http://simongriffee.com "See my photographs on SimonGriffee.com") Simon Griffee.

  I like making simple and useful things that look good, and am experienced in both [digital and print media](/work/ "Web and print."). I [write](/archive/ "My blog archive.") and <a href="/linked/" title="List of links to other places on the internet that Hypertexthero finds interesting.">link</a> to websites of interest in my [logbook](/logbook/ "Hypertexthero's blog on web, design and simplicity.").

  Thanks for visiting!
  —Simon

  {% endfilter %}
	
{% comment %}
  {% load hth_tags %}
  <h2 class="normal">Latest Logbook Entries</h2>
  {% latest_entries %}
  {% load hth_tags %}
  =todo: put kindwords.txt in templates folder and modify RandomLine function in hth_tags.py?
  <blockquote>
    <p>{% kind_words "kindwords.txt" %}</p>
  </blockquote>
{% endcomment %} 
</div> {# /.intro  #}
{% endblock content %}

{% block footer %}

<!-- for indy auth - https://indieauth.com/ -->
<div id="address" style="display:none;"> 
  <strong>Email:</strong> <a href="mailto:simongriffee@gmail.com" rel="me">simon@hypertexthero.com</a>
  <br>
  <strong>Twitter:</strong> <a href="https://twitter.com/simongriffee" rel="me">simongriffee</a>
  <br>    
  <strong>Github:</strong> <a href="https://github.com/hypertexthero" rel="me">hypertexthero</a>
</div>
{% endblock footer %}
