{% extends "base.html" %}
{% block headtitle %}Hypertexthero: Web, Design, Simplicity{% endblock headtitle %}
{% block keywords %}Web, Design, Simplicity{% endblock %}
{% block bodyid %}home{% endblock bodyid %}

{% load hth_tags %}

{% block header %}
  {% include "hth/nav.html" %}
  {# <h1 id="introduction"> #}
  {#     <a href="/contact/" title="At your service.">Call</a> <i>Hypertexthero</i> for <a href="/work/" title="See selected work.">web and graphic design</a>. #}
  {# </h1> #}
{% endblock header %}

{% block content %}
  <h1 style="margin:0 0 0.5em 0;" class="normal"><a href="/contact/" title="At your service.">Call</a> <i>Hypertexthero</i></a> for <a href="/work/" title="See selected work.">web &amp; graphic design</a>.</h1>

  {% filter my_markdown %}

<span class="pull-right" style="padding-top:8px;"><img style="border:1px solid #eee;"src="/static/img/simon-sf.jpg" alt="Simon Griffee in San Francisco."></span>

Hypertexthero is the little design studio of designer and [photographer](http://simongriffee.com "See my photographs.") Simon Griffee. 

I make simple and useful things that look good, and am experienced in both [digital and traditional media](/work/ "Web and print."). 

I also write and record websites of interest I find on the internet in my [logbook](/logbook/ "Hypertexthero's blog on web, design and simplicity.").

Thanks for visiting!
—Simon
  {% endfilter %}

  {# {% load hth_tags %} #}
  {# <h2 class="normal">Latest Logbook Entries</h2> #}
  {# {% latest_entries %} #}
  
{% endblock content %}

{% block footer %}

{# for indy auth #}
<div id="address" style="display:none;"> 
<strong>Email:</strong> <a href="mailto:simongriffee@gmail.com" rel="me">simon@hypertexthero.com</a>
<br>
<strong>Twitter:</strong> <a href="https://twitter.com/simongriffee" rel="me">simongriffee</a>
<br>    
<strong>Github:</strong> <a href="https://github.com/hypertexthero" rel="me">hypertexthero</a>
</div>

{% endblock footer %}
