{% extends "base.html" %}
{% block headtitle %}Hypertexthero: {{ flatpage.title }}{% endblock %}
{% block keywords %}Web, Design, Simplicity{% endblock %}

{% block extrahead %}
<link href="/static/css/lightbox.css" rel="stylesheet" />
{% endblock extrahead %}

{% block bodyid %}work{% endblock bodyid %}
{% block bodyclass %}detail{% endblock bodyclass %}

{% block header %}
    <p id="homelink"><a href="/" title="Hypertexthero homepage and portfolio.">Home</a></p>
    <p class="breadcrumbs"><a href="/" title="Hypertexthero homepage.">Hypertexthero</a> / <a href="/work/" title="Work examples.">Work</a> / {{ flatpage.title }}</p>
{% endblock header %}


{% block content %}
    
    {% if user.is_staff %} 
    <div class="pull-right">
        <a class="edit small" href="/admin/flatpages/flatpage/{{ flatpage.id }}">Edit</a>
    </div>
    {% endif %}

    {% load markup %}
    {{ flatpage.content|markdown:"codehilite,tables,footnotes" }}
{% endblock %}

{% block footer %}
{{ block.super }}
<script src="/static/js/jquery-1.9.1.min.js"></script>
<script src="/static/js/lightbox.js"></script>
<script>
  jQuery(document).ready(function($) {
      $('a').smoothScroll({
        speed: 0,
        // easing: 'easeInOutCubic'
      });

      $('.showOlderChanges').on('click', function(e){
        $('.changelog .old').slideDown('fast');
        $(this).fadeOut();
        e.preventDefault();
      })
  });

</script>
{% endblock footer %}