{% extends "base.html" %}

{% block headtitle %}Hypertexthero: {{ flatpage.title }}{% endblock %}
{% block bodyid %}work{% endblock bodyid %}
{% block bodyclass %}detail{% endblock bodyclass %}
{% block header %}
    <p id="homelink"><a href="/" title="Hypertexthero homepage and portfolio.">Home</a></p>
    <p class="breadcrumbs"><a href="/" title="Hypertexthero homepage.">Hypertexthero</a> / {{ flatpage.title }}</p>
{% endblock header %}


{% block content %}
    
    {% if user.is_staff %} 
    <div class="pull-right">
        <a class="edit small" href="/admin/flatpages/flatpage/{{ flatpage.id }}">Edit</a>
    </div>
    {% endif %}

    {% load markup %}
    {{ flatpage.content|markdown:"codehilite,tables,footnotes" }}
{% endblock %}