{% extends "base.html" %}
{% block headtitle %}Hypertexthero: Web, Design, Simplicity{% endblock headtitle %}
{% block keywords %}Web, Design, Simplicity{% endblock %}
{% block bodyid %}work{% endblock bodyid %}
{% block bodyclass %}workhome{% endblock bodyclass %}

{% load hth_tags %}

{% block header %}
  {% include "hth/nav.html" %}
	{% include "hth/sky.html" %}
{% endblock header %}

{% block content %}

<h1 style="margin-bottom:1em;">Selected Work</h1>

{# https://docs.djangoproject.com/en/dev/ref/contrib/flatpages/ #}
{% load flatpages %}
{% get_flatpages '/work/' as work_flatpages %}

{# <ul> #}
{# {% for page in work_flatpages %} #}
{#     <li><a href="{{ page.url }}">{{ page.title }}</a></li> #}
{# {% endfor %} #}
{# </ul> #}

<ul class="thumbs">
	<li>
		<a href="/work/international-symbol-observer/" title="Accepted as U+23FF Observer Eye Symbol — yay!"><img style="max-width:320px;" src="/static/img/observer-symbol/observer-symbol.png" alt="International Symbol for an Observer - Unicode Consortium."></a> 
		<small><a href="/work/international-symbol-observer/">International Symbol for an Observer</a> - Unicode Consortium.</small>
	</li>
  <li>
      <a href="/work/photographs/" title="Predominantly black and white pictures of colouful situations."><img style="max-width:320px;" src="http://simongriffee.com/images/GRS-20150320-162137.jpg" alt="42nd Street &amp; Broadway at Times Square"></a>
			<small>My photography at <a href="http://simongriffee.com">SimonGriffee.com</a></small>
  </li>
	
  <li>
      <a href="/work/it-wishlist/" title="The one with the top hat is the boss."><img style="max-width:320px;" src="/static/img/work/IPPCITWorkflow.png" alt="IPPC IT Wishlist web application design."></a>
			<small>IT Wishlist <a href="/work/it-wishlist/">web application design</a>.</small>
  </li>
	<li>
		<a href="/work/international-plant-protection-convention-website/" title="International Plant Protection Convention website, 2015 version."><img style="max-width:320px;" src="/static/img/work/InternationalPlantProtectionConvention2015.jpg" alt="International Plant Protection Convention website redesign."></a>
		<small>International Plant Protection Convention <a href="/work/international-plant-protection-convention-website/">website redesign</a>.</small>
	</li>
  <li>
      <a href="/work/atpm-covers/" title="Big, blocky, colorful, à la Paul Rand."><img style="max-width:320px;" src="/static/img/work/atpm-001.gif" alt="Cover design with the word 'Macintosh' in large, bold letters, blocking a tangle of gray lines." ></a>
		<small>About This Particular Macintosh <a href="/work/atpm-covers/">webzine covers</a>.</small>
  </li>
  <li>
      <a href="/work/international-plant-protection-convention-poster/" title="International Plant Protection Convention poster."><img style="max-width:320px;" src="/static/img/work/InternationalPlantProtectionConventionPoster.jpg" alt="A poster design for the International Plant Protection Convention."></a>
			<small><a href="/work/international-plant-protection-convention-poster/">Graphic design</a> for the International Plant Protection Convention. See also a <a href="http://hypertexthero.com/ippc/work/brochures-flyers/ippc-a4-trifold.pdf">trifold brochure</a>, <a href="https://docs.google.com/document/d/1XPQTZtQ5ppJ-CFGo6pkAQY7BWygBgE4jyfjYxe8bMmE/edit?authkey=CNHC2MUF&amp;authkey=CNHC2MUF#heading=h.4tz8d1ohyaap">newsletter template in Google Docs</a> and <a href="http://hypertexthero.com/ippc/work/logos/redesign/">redrawn logos</a>, and <a href="http://hypertexthero.com/ippc/work/">more</a>.</small>
  </li>
  <li>
      <a href="/work/pianist-card/" title="Beautiful to listen to and look at."><img style="max-width:320px;" src="/static/img/work/PianistCard.png" alt="Business card for a pianist."></a>
			<small><a href="/work/pianist-card/">Business card</a> for a pianist.</small>
  </li>
  <li>
      <a href="/work/it-works-logotype/" title="IT Works logotype."><img style="max-width:320px;" src="/static/img/work/ItWorksLogotype.png" alt="Logotype for IT Works, a small software company with big clients."></a>
			<small><a href="/work/it-works-logotype/">Logotype</a> for a small software company with big clients.</small>
  </li>
  <li>
      <a href="/work/fao-biotech/" title="I don&rsquo;t the division exists any longer."><img style="max-width:320px;" src="/static/img/work/FaoBiotech.png" alt="Logotype for the Food and Agriculture Organization's Biotechnology division."></a>
			<small><a href="/work/fao-biotech/">Logotype</a> for the Food and Agriculture Organization's Biotechnology division.</small>
  </li>
  {# <li> #}
  {#     <a href="/work/tradecamp-logotype/" title="Logotype for Tradecamp, a web startup."><img style="max-width:320px;" src="/static/img/work/TradeCampLogo.png" alt="Logotype for Tradecamp, a web startup."></a> #}
  {# 			<small><a href="/work/tradecamp-logotype/">Logotype</a> for Tradecamp, a web startup.</small> #}
  {# </li> #}
  <li>
      <a href="/work/simple-web-typography-template/" title="The text is an excerpt from Star Maker by Olaf Stapledon - warmly recommended."><img style="max-width:320px;" src="/static/img/work/SimpleWebTypographyTemplate.png" alt="Simple web typography template in HTML and CSS, free to use."></a>
			<small>Simple <a href="/work/simple-web-typography-template/">web typography template</a> in HTML and CSS.</small>
  </li>
  <li>
      <a href="/work/imaginary-lines/" title="Started after reading Jiddu Krishnamurti."><img style="max-width:320px;" src="/static/img/work/ImaginaryLines.gif"></a>
			<small><a href="/work/imaginary-lines">Imaginary Lines</a>: Short-lived attack on ideas of national borders, sovereign states, nationalism and the political division of human beings.</small>
  </li>
  <li>
      <a href="/work/earth-among-the-stars/" title="Our pale blue dot. I miss Carl Sagan."><img style="max-width:320px;" src="/static/img/work/EarthAmongTheStars.png" alt="Earth Among The Stars in HTML and CSS." ></a><small>Earth Among The Stars <a href="/work/earth-among-the-stars/">experiment in HTML and CSS</a>.</small>
  </li>
  <li>
      <a href="/work/pasta-clock/" title="With instructions written by my alter-ego, Jimmy Boss."><img style="max-width:320px;" src="/static/img/work/PastaClock.png"></a>
			<small>Pasta Clock: <a href="/work/pasta-clock/">Single-page web application</a> to help you cook pasta al dente, not al mush.</small>
  </li>
  <li style="height:auto;">
      <a href="/work/jimmy-boss/" title="My alter-ego’s website."><img style="max-width:320px;" src="/static/img/work/JimmyBoss.png"></a>
			<small>My <a href="/work/jimmy-boss/">alter-ego’s website</a>.</small>
  </li>
  {# <li> #}
  {#     <a href="/work/mylius-brochure/" title="Brochure for Mylius Yachts."><img style="max-width:320px;" src="/static/img/work/MyliusYachts.jpg" alt="Brochure cover for the small yet pleasurable Mylius 11E25 37' Yacht." title="Brochure cover for the small yet pleasurable Mylius 11E25 37' Yacht."></a> #}
  {# </li> #}
  {# <li> #}
  {#     <a href="/work/aosr/" title="American Overseas School of Rome print work."><img style="max-width:320px;" src="/static/img/work/AosrLitmagCover.jpg" alt="American Overseas School of Rome print work." title="American Overseas School of Rome print work."></a> #}
  {# </li> #}
	
	

  {# <li> #}
  {#     <a href="/work/food-news/" title="♨ Food News is a website to publish and discuss links about healthy sustainable food, ranked by readers."><img style="max-width:320px;" src="/static/img/work/FoodNews.png" alt="♨ Food News is a website to publish and discuss links about healthy sustainable food, ranked by readers." title="♨ Food News is a website to publish and discuss links about healthy sustainable food, ranked by readers."></a> #}
  {# </li> #}
  {# <li> #}
  {#     <a href="/work/australian-plant-biosecurity-program/" title="Australian Plant Biosecurity Program website."><img style="max-width:320px;" src="/static/img/work/AustralianPlantBiosecurityProgram.jpg" alt="Australian Postgraduate Study in Plant Biosecurity Program website design."></a> #}
  {# 			<small>Australian Postgraduate Study in Plant Biosecurity Program website design.</small> #}
  {# </li> #}
  {# <li> #}
  {#     <a href="/work/descriptedlines/" title="Descriptedlines website."><img style="max-width:320px;" src="/static/img/work/Descriptedlines.png" alt="Descriptedlines : A website for a writer to write and readers to read." title="Descriptedlines : A website for a writer to write and readers to read."></a> #}
  {# </li> #}
  {# <li> #}
  {#     <a href="/work/atpm/" title="About This Particular Macintosh webzine redesign."><img style="max-width:320px;" src="/static/img/work/AboutThisParticularMacintosh.png" alt="About This Particular Macintosh webzine redesign." title="About This Particular Macintosh webzine redesign."><em>About This Particular Macintosh</em> old school webzine redesign.</a> #}
  {# </li> #}
  {# <li> #}
  {#     <a href="/work/ippc-annual-report/" title="International Plant Protection Convention annual report."><img style="max-width:320px;" src="/static/img/work/SecretariatReport2013.jpg" alt="International Plant Protection Convention annual report." title="International Plant Protection Convention annual report." ></a> #}
  {# </li> #}
  {# <li> #}
  {#     <a href="/work/a-lone-star-lock-service/" title="Business card for A Lone Star Lock Service."><img style="max-width:320px;" src="/static/img/work/ALoneStarLockService.png" alt="Pyramids echo a key in the desert night." title="Pyramids echo a key in the desert night."></a> #}
  {# </li> #}
  {# <li> #}
  {#     <a href="/work/ippc-logotype/" title="International Plant Protection Convention logotype redesign."><img style="max-width:320px;" src="/static/img/work/IppcLogo.png" alt="Logotype redesign for IPPC." title="International Plant Protection Convention logotype redesign."></a> #}
  {# </li> #}

</ul>

{% endblock %}

{% block footer %}

{% endblock footer %}
