{% extends "base.html" %}
{% block headtitle %}Hypertexthero: Web, Design, Simplicity{% endblock headtitle %}
{% block keywords %}Web, Design, Simplicity{% endblock %}
{% block bodyid %}work{% endblock bodyid %}

{% load hth_tags %}

{% block header %}
  {% include "hth/nav.html" %}
{% endblock header %}

{% block content %}

<h1 class="normal" style="margin-bottom:0.5em;">Selected Work</h1>

{# https://docs.djangoproject.com/en/dev/ref/contrib/flatpages/ #}
{% load flatpages %}
{% get_flatpages '/work/' as work_flatpages %}

<ul>
{% for page in work_flatpages %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
</ul>
    
{% endblock %}

{% block footer %}
  
{% endblock footer %}
