{% extends "base.html" %}
{% block headtitle %}Hypertexthero: Web, Design, Simplicity{% endblock headtitle %}
{% block keywords %}Web, Design, Simplicity{% endblock %}
{% block bodyid %}home{% endblock bodyid %}

{% load hth_tags %}

{% block header %}
    <h1 id="logo"><a href="/contact/" title="Contact Hypertexthero."><b>Call Hypertexthero</b> for Visual Design &amp; Web Development</a></h1>
    {# =todo: put kindwords.txt in templates folder and modify RandomLine function in hth_tags.py? #}
    <blockquote>{% kind_words "kindwords.txt" %}</blockquote>
{% endblock header %}

{% block content %}
    {% if user.is_staff %} 
    <div class="pull-right">
        <a class="edit small" href="/admin/flatpages/flatpage/{{ flatpage.id }}">Edit</a>
    </div>
    {% endif %}

    {# {% load markup %} #}
    {# {{ flatpage.content|markdown:"codehilite,tables,footnotes" }} #}
    {{ flatpage.content|safe }}
    
    <div class="column logcolumn">
    <h2 id="writing"><a href="/logbook/" title="Hypertexthero's blog about web, design and simplicity.">Logbook</a></h2>
    {% latest_entries %}
    </div>
    
{% endblock %}

{% block footer %}
{{ block.super }}
<div id="address" style="display:none;">
<strong>Email:</strong> <a href="mailto:simongriffee@gmail.com" rel="me">simon@hypertexthero.com</a>
<br>
<strong>Twitter:</strong> <a href="https://twitter.com/simongriffee" rel="me">simongriffee</a>
<br>    
<strong>Github:</strong> <a href="https://github.com/hypertexthero" rel="me">hypertexthero</a>
</div>
{% endblock footer %}
